@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #1129FF;
  }


.logo{
    padding: 15px;
    height: 50px;
}

.logo img{
    height: 100%;
}

.header .container {
    height: 20%;
    background-color: #1129FF;
    padding: 0px 60px 0px 60px;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: #ffffff;
}

.header a:hover {
    font-weight: 700;
    transition: 0.4s;
}

.navbar {
    width: 300px;
    display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      color: #ffffff;
}

.selecionado {
    font-weight: 700;
}

.container {
    display: flex;
    background-color: #F3F2FF;
    justify-content: space-evenly;
}

.banner .container-texto{
    width: 40%;
    align-self: center;
    padding: 0px 0px 70px 0px;
}

.titulo {
    font-size: 50px;
    margin: auto;
}

.banner-imagem img {
    height: 100%;
}

.banner .container {
    background-color: #1129FF;
    height: 350px;
    padding: 20px;
}

.botao{
    cursor: pointer;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    margin: 10px 5px 10px 5px;
    padding: 5px 15px 5px 15px;
    width: 150px;
    height: 36px;
    font-size: 17px;
    font-family: "Inter", sans-serif;
}

.btn-branco {
    background-color: #ffffff;
    color: #2d3dcf;
}

#sobre {
    padding: 10px 40px 10px 40px;
    color: #0F1127;
    background-color: #F3F2FF;
    border-radius: 30px 30px 0px 0px;
}

#sobre h1{
    color: #2d3dcf;
}

.container-cards{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 30px 0px;
}

.card{
    padding: 10px 30px 10px 30px;
    background-color: #ffffff;
    border-radius: 20px;
    width: 30%;
    box-shadow: 5px 5px 5px hsla(235, 44%, 11%, 0.24);
}

.card h1{
    font-size: 20px;
}

.cadastro .container{
    /* background-color: #F3F2FF; */
    color: #0F1127;
}

.cadastro h1{
    display: flex;
    margin-bottom: 20px;
    color: #2d3dcf;
    justify-content: center;
}

.btn-azul {
    background-color: #1129FF;
    color: #ffffff;
}

.cadastro .container{
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
}

.cadastro img {
    padding: 30px;
    height: 400px;
}

.container-campos{
    height: 100%;
    justify-items: center;
}

.ipt-campo{
    width: 100%;
    height: 20px;
    padding: 5px;
    background-color: #ffffff;
    color: #757575;
    border: 1px solid #0F1127;
    border-radius: 2px;
    margin: 5px 0px 10px 0px;
    font-family: "Inter", sans-serif;
}

.ipt-campo:hover{
    border: 1px solid #1129FF;
    transition: 0.4s;
}

.btn-cinza{
    border: 1px solid #0F1127;
}

.login .container{
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
}

.login .container{
    /* background-color: #F3F2FF; */
    color: #0F1127;
}

.login h1{
    display: flex;
    margin-bottom: 20px;
    color: #2d3dcf;
    justify-content: center;
}

.login img {
    padding: 30px;
    height: 400px;
}


.cadastro p{
    display: flex;
    justify-content: center;
}

.login p{
    display: flex;
    justify-content: center;
}

.link{
    text-decoration: none;
    color: #2d3dcf;
    font-weight: 700;
}

.footer .container{
    background-color: #1129FF;
}

.footer .logo {
    height: 30px;
}


.lista{
    width: 100%;
    height: 30px;
    padding: 5px;
    background-color: #ffffff;
    color: #757575;
    border: 1px solid #0F1127;
    border-radius: 2px;
    margin: 5px 0px 10px 0px;
    font-family: 'Inter', sans-serif;
}

.lista:hover{
    border: 1px solid #1129FF;
    transition: 0.4s;
}

.home .container{
    display: flex;
    flex-direction: column;
    color: #0F1127;
    height: 20%;
    /* background-color: #F3F2FF; */
    padding: 0px 60px 0px 60px;
    justify-content: space-between;
}

.home h1{
    font-weight: 700;
}

.perfil h1{
    color: #2d3dcf;
    font-weight: 700;
}

.btn-azul-linha{
    border: 1px solid #2d3dcf;
    color: #2d3dcf;
    width: 190px;
    font-size: 15px;
}

.home .card-pets{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}

.home .botao{
    width: fit-content;
}


.card-pets .card{
    height: 40%;
    padding: 15px;
    text-align: center;
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.div-tabela{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#tabela {
    margin-top: 10px;
    border: 1px solid;
    width: 85%;
    border-collapse: collapse;
    text-align: left;
}

#tarefa, th, td {
    padding: 7px;
    border: 1px solid #0F1127;
    background-color: #ffffff;
}

#tarefa, th{
    font-weight: 600;
}

.btn-tarefa{
    font-size: 14px;
    height: fit-content;
    width: fit-content;
    margin: 0;
    align-self: center;
}

.lista-tarefas .container-campos{
    display: flex;
    justify-content: space-evenly;
}

.campos-tarefa{
    display: flex;
    flex-direction: column;
}

#p_mensagem{
    margin: 10px 0px 0px 0px;
    color: #646680;
}

.mensagem{
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

.mensagem_erro{
    font-size: 13px;
    color: #bc1414;
    text-align: center;
}

.container-botoes{
    display: flex;
    justify-content: center;
}